<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MEDIATOR_OOB_URL</key>
	<string>http://localhost:8080/invitation</string>
	<key>PRISM_AGENT_URL</key>
	<string>http://localhost:8090/</string>
	<key>APIKEY</key>
	<string></string>
	<key>PUBLISHED_DID</key>
	<string>did:prism:ca00ef97960479e966b966443507915e2093a7253921657461c77bb5556c738d</string>
	<key>JWT_SCHEMA_GUID</key>
	<string>9c9f608d-3556-37b2-b70a-75a92cb8e469</string>
	<key>ANONCRED_DEFINITION_GUID</key>
	<string>c5c91fc7-d33f-35ac-a204-6bf19a17f007</string>
</dict>
</plist>
