<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MEDIATOR_OOB_URL</key>
	<string>http://localhost:8080/invitation</string>
	<key>PRISM_AGENT_URL</key>
	<string>http://localhost:8090/</string>
	<key>APIKEY</key>
	<string></string>
	<key>PUBLISHED_DID</key>
	<string>did:prism:8aba70be28d5dd9e47380dc625abf58bc1cd2149696423fe3aa775bdb9c2209a</string>
	<key>JWT_SCHEMA_GUID</key>
	<string>202ba36a-097a-3a24-9449-d874955fcfc5</string>
	<key>ANONCRED_DEFINITION_GUID</key>
	<string>b0adc961-57df-37eb-8b8e-40acc87ed213</string>
</dict>
</plist>
